@charset "utf-8";

/*
    main.css
    This holds styling rules external to bootstrap classes
*/
@font-face {
    font-family: Rubik;
    src: url("../resources/Rubik-Regular.ttf") format("truetype");
}
@font-face {
    font-family: Rubik-Light;
    src: url("../resources/Rubik-Light.ttf") format("truetype");
}

:root{
    --accentcolor: rgb(90, 136, 173);
    --clear-accentcolor: rgba(90, 136,173, 0.541);
}

.diff_circle {
    width: 15px;
    height: 15px;
    display: inline;
    margin: 1px;
}


#submitbutt {
    background-color: var(--clear-accentcolor);
}
#submitbutt:hover {
    background-color: var(--accentcolor);
    cursor: pointer;
}



/* ============================= */
/*       FOR PUZZLE TABLE        */
/* ============================= */

/* collapse all borders inside sudoku table */
#puzzle table { 
    border-collapse: collapse; 
}

/* style number inputs inside cells */
#puzzle td > input {

    /* size of these inputs determine overall table size */
    height: 8vw;
    width: 8vw;
    max-height: 50px;
    max-width: 50px;

    /* style the font */
    font-family: Rubik-Light;
    font-size: 1.5rem;
    color: #000;
    text-align: center;
    border: 0px;
    padding:0px;
}
#puzzle .cellinput {
    color: var(--accentcolor);
    font-weight: bold;
    font-family: Rubik;
}

/* styling for cell borders--call out specific cells for thicker lines */
#puzzle td {
    border: 1px #888 solid;
    padding: 0px;
}
#puzzle #a30,#puzzle #a31,#puzzle #a32,#puzzle #a33,#puzzle #a34,
#puzzle #a35,#puzzle #a36,#puzzle #a37,#puzzle #a38,#puzzle #a60,
#puzzle #a61,#puzzle #a62,#puzzle #a63,#puzzle #a64,#puzzle #a65,
#puzzle #a66,#puzzle #a67,#puzzle #a68 {
    border-top: 2px #222 solid;
}
#puzzle #a03,#puzzle #a13,#puzzle #a23,#puzzle #a33,#puzzle #a43,
#puzzle #a53,#puzzle #a63,#puzzle #a73,#puzzle #a83,#puzzle #a06,
#puzzle #a16,#puzzle #a26,#puzzle #a36,#puzzle #a46,#puzzle #a56,
#puzzle #a66,#puzzle #a76,#puzzle #a86 {
    border-left: 2px #222 solid;
}
